@keyframes pic1anim {
  0% {
    background-image: url(../images/mblestsvg.svg);
  }
  50% {
    background-image: url(../images/rumstsvg.svg);
  }
  100% {
    background-image: url(../images/mblestsvg.svg);
  }
}
@keyframes pic2anim {
  0% {
    background-image: url(../images/rumstsvg.svg);
  }
  50% {
    background-image: url(../images/mblestsvg.svg);
  }
  100% {
    background-image: url(../images/rumstsvg.svg);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotation1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotation2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotation3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes tochnoanim {
  0% {
    background-image: url(../images/tochno.svg);
  }
  25% {
    background-image: url(../images/tochno1.svg);
  }
  50% {
    background-image: url(../images/tochno2.svg);
  }
  75% {
    background-image: url(../images/tochno3.svg);
  }
}

@keyframes xvostymove {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(-42vw);
  }
}
@keyframes rumble {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(-100vw);
  }
}
.perviy {
  animation: perviy 6s linear infinite;
}
@keyframes perviy {
  0% {
    transform: translateX(37vw);
  }
  50% {
    transform: translateX(-5vw);
  }
  100% {
    transform: translateX(37vw);
  }
}
.edins {
  animation: edins 2s linear infinite;
}
@keyframes edins {
  0% {
    transform: translateX(12.5vw);
  }
  50% {
    transform: translateX(-6vw);
  }
  100% {
    transform: translateX(12.5vw);
  }
}
.fest {
  animation: fest 5s linear infinite;
}
@keyframes fest {
  0% {
    transform: translateX(8vw);
  }
  50% {
    transform: translateX(-13.3vw);
  }
  100% {
    transform: translateX(8vw);
  }
}
.tvoygolos {
  animation: tvoygolos 3s linear infinite;
}
@keyframes tvoygolos {
  0% {
    transform: translateX(15vw);
  }
  50% {
    transform: translateX(-16vw);
  }
  100% {
    transform: translateX(15vw);
  }
}
